/* https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Nunito:ital,wght@0,800;1,800&display */

:root{
    --primary-color: ##C9A690;
    --secondary-color: #253C78;
    --accent1-color: #FFEECF;
    --accent2-color: #030A16;
    --heading-font: "Nunito", sans-serif;
    --body-font: "Lato", sans-serif;
    --grey-background: rgba(59, 58, 58, 0.2);
}


header {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
    /* background: linear-gradient(var(--accent1-color), var(--accent2-color)); */
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 70px;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 0 0 3rem;
}
header nav {
    align-items: center;
    justify-content: center;
    /* background-color: gold; */
    padding: 0;
    display: flex;
}

header nav a{
    width: 5rem;
    text-decoration: none;
    height: 2rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 14px;
    border: 1px solid black;
    border-right: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

#first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#last {
    border-right: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

nav, p, section,article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    background-color: gold;
}

.hero img {
    display: block;
    width: 100%;
    /* opacity: .5; */
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    /* background-color: var(--accent1-color); */
    color: #fff;
}

.hero article {
    position: absolute;
    top: calc(50% - (100px/2));
    background-color: var(--accent2-color);
    opacity: .85;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    height: 100px;
    /* transform: translate(-50%, -50%); */
    flex-direction: row-reverse;
    border-radius: 5px;
    color: #2e2e30;
    font-weight: 400;
}

.hero article img{
    float: right;
    width: 125px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 5px;
    /* clear: both; */
}

.history {
    background: var(--accent2-color);
    /* text-align: center; */
}

.history h2 {
    text-align: center;
}

.history article {
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    align-items: center;
    justify-content: space-between;
}

.history img {
    /* float: right; */
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.adventure{
    padding: 1rem;
    background-color: #C9A690;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.adventure h2{
    grid-column: 1/ span 5;
}
.adventure figure {
    display: grid;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    margin: 5px auto;

}

.adventure figure img{
    width: 100px;
    height: 65px;
    object-fit: fill;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgb(46, 45, 45);
}
figcaption{
    font-size: 12px;
}

footer {
    display : grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-content: center;
    background-color: var(--accent2-color);
}

footer p{
    grid-column: 1/1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
footer img {
    width: 25px;
    height: 25px;

}
.contactheading{
    position: relative;
    margin: 2px auto 10px auto;
    align-items: center;
    top: 0;
    /* background-color: var(--primary-color); */
    border-radius: 5px;
    /* display: flex; */
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: calc(8% / 3);
    margin: .5rem auto;
    width: 95%;
}

ul li {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li div {
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: center;
}

ul li div img{
    width: 20%;
    margin: 0 auto;
}

ul li a , iframe, ul div{
    border-radius: 5px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    overflow: hidden;
    /* border:0; */
}

ul li a:hover, iframe:hover, ul li div:hover {
    border: none;
    width: 110%;
    background-color: var(--grey-background);
    color: var(--primary-color);
    font-style: italic;
}

.contact {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: 95%;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
    
}

.employees {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    grid-template-rows: calc(95% /3) calc(95% /3) calc(95% /3);  /*33% 33% 33% ;*/
    grid-gap: calc(5% /2);
    width: 100%;
    height: 100%;
}

.employees figure{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.employees figure figcaption{
    padding-left: 10px;
    font-size: medium;
    font-weight: bolder;
}

.employees img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: grid;
    align-items: end;
    /* justify-content: space-around; */
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--grey-background);
}

div{
    display: grid;
    margin: 5px auto;
    width: 90%;
}
label{
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--heading-font);
}

span {
    margin: 5px auto;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

span label{
    font-size: .9rem;
    padding-left: 7px;
}

span input[type='radio']{
    width: 20px;
    height: 20px;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    border-radius: 50%;
}

input[type='checkbox'] {
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    border-radius: 1px;
    appearance: revert;
}

span input[type='radio']:checked, input[type='checkbox']:checked{
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    border-radius: 50%;
}

input[type='checkbox']:checked{
    border: none;
    border-radius: 2px;
}

input, textarea, button, select{
    background-color: var(--accent1-color);
    font-family: inherit;
    appearance: none;
    border: none;
    padding: .4rem;
}

input[type='text'],input[type='email'], textarea{
    font-size: 17px;
    outline: none;
    border: transparent;
    border-radius: 10px;
    width: 100%;padding-left: .8rem;
}

button {
    font-weight: 600;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    width: 40%;
    height: 2.5rem;
    color: var(--accent1-color);
    background-color: var(--secondary-color);
    text-align: center;
}

textarea {
    margin-top: 7px;
    font-size: 14px;
}

input[type='text']:focus, textarea:focus{
    appearance: none;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}